.markdown {
  @apply text-base md:text-lg text-gray-800;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  @apply my-6 text-gray-900 font-bold;
}

.markdown h1:before, .markdown h2:before, .markdown h3:before, .markdown h4:before, .markdown h5:before, .markdown h6:before {
  content: '# ';
}

.markdown h1 {
  @apply text-3xl md:text-4xl;
}

.markdown h2 {
  @apply text-2xl md:text-3xl;
}

.markdown h3 {
  @apply text-xl md:text-2xl;
}

.markdown h4 {
  @apply text-lg md:text-xl;
}

.markdown h5 {
  @apply text-base md:text-lg;
}

.markdown h6 {
  @apply text-sm md:text-base;
}

.markdown p {
  @apply my-4 leading-loose;
}

.markdown code {
  @apply bg-yellow-100 rounded-sm shadow-sm;
}

.markdown blockquote {
  @apply pl-4 py-1 bg-yellow-100 border-l-4 border-yellow-200 rounded-r-md rounded-l-sm shadow-md;
}

.markdown a {
  @apply text-yellow-800;
}

.markdown a:hover, .markdown a:focus {
  @apply underline outline-none;
}

.markdown ol, .markdown ul {
  @apply my-4 pl-4 list-inside;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply list-disc;
}

.markdown hr {
  @apply border-0 border-t-2 border-gray-200;
}

.markdown table {
  @apply block table-auto border-collapse overflow-x-auto;
}

.markdown table thead {
  @apply bg-yellow-100;
}

.markdown table tbody tr:nth-child(odd) {
  @apply bg-white;
}

.markdown table tbody tr:nth-child(even) {
  @apply bg-yellow-50;
}

.markdown table th, .markdown table td {
  @apply px-4 py-2;
}

.markdown kbd {
  background-color: hsla(0,0%,0%,0.04);
  @apply p-1 font-semibold rounded-md shadow-sm;
}

.markdown mark {
  @apply bg-yellow-200 rounded-sm;
}

.markdown abbr {
  text-decoration-color: rgb(146, 64, 14);
}

.markdown sub, .markdown sup {
  @apply text-base;
}

.markdown pre::-webkit-scrollbar, .markdown table::-webkit-scrollbar {
  @apply w-auto h-1;
}

.markdown pre::-webkit-scrollbar-thumb, .markdown table::-webkit-scrollbar-thumb {
  @apply rounded-md;
}
